includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
  # We consider that the extension file will be stored the folder test/phpstan
  # From Phpstan 0.12, paths are relative to the .neon file.
      - ../../ebay.php
      - ../../classes
      - ../../services
      - ../../controllers
      - ../../upgrade

  scanDirectories:
        - ../../../../classes
  scanFiles:
        - ../../../../var/cache/prod/class_index.php
        - ../../../../var/cache/prod/class_stub.php

  reportUnmatchedIgnoredErrors: false
  level: 1
