/**
 * Ebay specific styling
 *
 * Every rule should be incapsulated in the .totebay selector
 * to prevent styling elements outside the module container.
 */
.totebay {
  overflow: hidden;
}
.totebay .d-b {
  display: block;
}
.totebay .d-ib {
  display: inline-block;
}
.totebay .d-i {
  display: inline;
}
.totebay .pos-r {
  position: relative;
}
.totebay .pos-a {
  position: absolute;
}
.totebay .no-padding {
  padding: 0 !important;
}
.totebay .list-reset, .totebay #popin-container #category_config .category_ps_list,
.totebay #popin-container #category_config #last_page_categorie_ps {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.totebay .width-num {
  width: 60px !important;
}
.totebay .big {
  font-size: large;
}
.totebay .bdrs-3 {
  border-radius: 3px;
}
.totebay .bordered-block, .totebay #popin-container #category_config .category_ps_list,
.totebay #popin-container #category_config #last_page_categorie_ps, .totebay #popin-container #category_config .total_config_list_ebay .form-group p + div {
  border: 1px solid #c7d6d8;
  border-radius: 3px;
  line-height: 1.5;
}
.totebay .bordered-block-padding, .totebay #popin-container #category_config .category_ps_list li,
.totebay #popin-container #category_config #last_page_categorie_ps li, .totebay #popin-container #category_config .total_config_list_ebay .form-group p + div {
  padding: 8px 10px;
}
.totebay .process-icon-check-circle:before {
  content: "\E86C";
  font-family: "Material Icons";
}
.totebay .glyphicon-ok:before {
  content: "\E5CA";
  font-family: "Material Icons";
}
.totebay .js-popin-help {
  text-decoration: none !important;
}
.totebay .bootstrap .alert,
.totebay #carrier_wizard .wizard_error {
  padding: 7px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.totebay .bootstrap .alert:before {
  display: none;
}
.totebay .tooltip-inner {
  padding: 5px 10px;
}
.totebay .menuTab {
  margin-bottom: 15px;
}
.totebay .menuTab.nav-pills > li {
  float: none;
  display: inline-block;
  margin-left: 0;
}
@media all and (max-width: 480px) {
  .totebay .menuTab.nav-pills > li {
    width: 100%;
  }
}
.totebay .sidebar.navigation i,
.totebay .panel-heading i {
  margin-right: 5px;
}
.totebay .nav-pills a span.badge {
  margin-left: 5px;
}
.totebay .alert-no-icon {
  padding-left: 15px !important;
}
.totebay .alert-no-icon:before {
  display: none !important;
}
.totebay .btn [class^='icon-'] + span {
  margin-left: 5px;
}
.totebay .panel-info .form-horizontal > div:not(.pull-right):not(.panel-footer),
.totebay .panel-info .form-horizontal > label,
.totebay .panel-info .form-horizontal > button {
  margin-right: 10px;
}
.totebay .popin > .panel {
  margin-bottom: 0 !important;
}
.totebay .popin.popin-lg > .panel {
  max-width: 800px;
}
.totebay .popin.popin-sm > .panel {
  max-width: 500px;
}
.totebay .item-list {
  max-height: 66px;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 22px;
  list-style: none;
  overflow-y: auto;
}
.totebay .item-list .item {
  padding-left: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all, 0.3s, linear;
  -o-transition: all, 0.3s, linear;
  -webkit-transition: all, 0.3s, linear;
  transition: all, 0.3s, linear;
}
.totebay .item-list .item button {
  display: none;
}
.totebay .item-list .item:hover {
  background-color: #f4f8fb;
}
.totebay .item-list .item:hover button {
  display: initial;
}
.totebay .item-list .item .badge {
  line-height: 15px;
  vertical-align: middle;
}
.totebay .badge {
  padding: 0 5px;
}
.totebay .panel-heading .badge.badge-success {
  border-color: #72C279 !important;
  color: #fff !important;
  background-color: #72C279 !important;
}
.totebay .js-user-dropdown .dropdown-menu {
  min-width: 400px;
}
.totebay .js-user-dropdown .dropdown-menu li:nth-child(even) {
  background-color: #FCFDFE;
}
.totebay .js-user-dropdown .dropdown-menu li > a {
  padding: 5px 0;
}
.totebay .js-user-dropdown .dropdown-menu li > a span[class^='col-']:first-child {
  padding-left: 20px;
}
.totebay .js-user-dropdown .dropdown-menu li > a.selected span[class^='col-']:first-child {
  position: relative;
}
.totebay .js-user-dropdown .dropdown-menu li > a.selected span[class^='col-']:first-child:before {
  position: absolute;
  left: 4px;
  content: '\f00c';
  font-family: "fontAwesome";
  color: #3c763d;
}
.totebay .js-user-dropdown .dropdown-menu .head {
  padding: 5px 0 10px 0;
  font-weight: 600;
}
.totebay .js-user-dropdown .dropdown-menu .head > span {
  padding: 0 5px;
}
.totebay .js-user-dropdown .dropdown-menu .head > span:first-child {
  padding-left: 20px;
}
.totebay .js-user-dropdown .dropdown-menu .head small {
  font-weight: 400;
}
.totebay .js-user-dropdown .dropdown-menu.dropdown-menu-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-header .totebay .js-user-dropdown.open .dropdown-toggle {
  background-color: #000 !important;
}
.totebay .kb-help {
  display: none;
}
.totebay .kb-help .active {
  display: inline-block;
  text-decoration: none !important;
}
.totebay .kb-help .active [class^="icon-"] {
  font-size: 16px;
}
.totebay .progressbar .tasks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}
.totebay .progressbar .tasks .percentages {
  color: #d2d8db;
}
.totebay .progressbar .line-wrapper {
  width: 100%;
  height: 15px;
  background: #d2d8db;
  border-radius: 10px;
  overflow: hidden;
}
.totebay .progressbar .line-wrapper .percentages_line {
  width: 0;
  height: 100%;
  background: #72c279;
  border-radius: 10px;
  transition: width 0.5s ease-out;
}
.totebay #popin-mode_boost .big {
  margin: 0 0 20px;
}
.totebay #popin-mode_boost .progressbar {
  margin: 0 0 35px;
}
.totebay #popin-mode_boost .progressbar .tasks {
  margin: 0 0 3px;
}
.totebay .warning-message {
  margin-bottom: 0 !important;
  margin-left: 10px;
  line-height: 1.3;
  color: #fbb309;
}
.totebay .warning-message small {
  font-weight: 400;
  font-size: 11px;
}
.totebay .table-block-below {
  /* special styles if there is some block above .table-block */
  margin: 0 0 20px;
}
.totebay .table-block-below + .table-block h4 {
  margin-top: 0;
  border-top: 1px solid #d3d8db;
}
.totebay .button-apply,
.totebay .button-reset,
.totebay .button-refresh {
  padding-left: 15px;
  padding-right: 15px;
}
.totebay .button-apply:hover,
.totebay .button-reset:hover,
.totebay .button-refresh:hover {
  background: #00aff0 !important;
}
.totebay .table-block {
  margin: 0 -20px;
}
.totebay .table-block > * + * {
  border-top: 1px solid #d3d8db;
}
.totebay .table-block__holder {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.totebay .table-block__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -20px 0 0;
  padding: 15px 0;
}
.totebay .table-block__title > * {
  font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}
.totebay .table-block__title .button-refresh {
  margin: -8px 0;
}
.totebay .table-block__title .button-sync {
  display: inline-block;
  margin-left: 7px;
}
.totebay .table-block__title .button-sync .dropdown-menu {
  list-style-type: none;
  padding: 0;
  width: 250px;
  min-width: unset;
  right: 0;
  left: auto;
  overflow: hidden;
}
.totebay .table-block__title .button-sync .dropdown-menu li + li {
  border-top: 1px solid #dedede;
}
.totebay .table-block__title .button-sync .dropdown-menu li a {
  display: block;
  padding: 0 10px;
  color: #363a41;
  font-size: 13px;
  line-height: 2.5;
}
.totebay .table-block__title .button-sync .dropdown-menu li a:hover {
  color: #fff;
}
.totebay .table-block__search, .totebay .table-block__message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  background: #f0f0f0;
}
@media all and (max-width: 640px) {
  .totebay .table-block__search, .totebay .table-block__message {
    flex-direction: column;
  }
}
.totebay .table-block__search > * + *, .totebay .table-block__message > * + * {
  margin: 0 0 0 10px;
}
@media all and (max-width: 640px) {
  .totebay .table-block__search > * + *, .totebay .table-block__message > * + * {
    margin: 15px 0 0;
  }
}
.totebay .table-block__search input, .totebay .table-block__message input {
  background: #fff;
}
.totebay .table-block__message-holder {
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.totebay .table-block__message_green {
  background: #ddf0de;
  color: #00aa2b;
}
.totebay .table-block__message:last-child {
  margin-bottom: -20px;
  border-radius: 0 0 5px 5px;
}
.totebay .table-block__message p:last-child {
  margin-bottom: 0;
}
.totebay .table-block__footer-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
@media all and (max-width: 640px) {
  .totebay .table-block__footer-buttons {
    flex-direction: column;
  }
}
.totebay .table-block__footer-buttons > * + * {
  margin: 0 0 0 10px;
}
@media all and (max-width: 640px) {
  .totebay .table-block__footer-buttons > * + * {
    margin: 15px 0 0;
  }
}
.totebay .table-block .table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.totebay .table-block .table-wrapper .table {
  margin-bottom: 0;
  border-collapse: collapse;
}
.totebay .table-block .table-wrapper .table tr th, .totebay .table-block .table-wrapper .table tr td {
  height: 40px;
  border: 1px solid #eaedef;
}
.totebay .table-block .table-wrapper .table tr th:first-child, .totebay .table-block .table-wrapper .table tr td:first-child {
  padding-left: 20px;
  border-left: 0;
}
.totebay .table-block .table-wrapper .table tr th:last-child, .totebay .table-block .table-wrapper .table tr td:last-child {
  padding-right: 20px;
  border-right: 0;
}
.totebay .table-block .table-wrapper .table tr th:hover td, .totebay .table-block .table-wrapper .table tr td:hover td {
  background: #fff;
}
.totebay .table-block .table-wrapper .table tr th {
  border-bottom: 1px solid #ddd;
}
.totebay .table-block .table-wrapper .table tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
.totebay .table-block .table-wrapper .table tbody tr:nth-child(odd):hover td {
  background: #f4f8fb;
}
.totebay .table-block .table-wrapper .table .action {
  white-space: nowrap;
}
.totebay .table-block .table-wrapper .table .action .active {
  line-height: 1.4;
  background: #fff;
  box-shadow: none;
  border-color: #dedede;
}
.totebay .table-block .table-wrapper .table .action .active:hover {
  color: #fff;
  background-color: #00aff0;
  border-color: #008abd !important;
}
.totebay .table-block .table-wrapper .table .action .active:hover i {
  color: #fff;
}
.totebay .table-block .table-wrapper .table .action .active i {
  color: #555;
}
.totebay .table-block .table-wrapper .table .action .btn-hover-danger:hover {
  background-color: #d5676f !important;
  border-color: #cd4b55 !important;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] {
  display: none;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] + label {
  width: 35px;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] + label:before {
  font-family: 'fontawesome', sans-serif;
  color: #d9534f;
  content: "\f00d";
  font-size: 13px;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] + label:hover {
  background: #fff;
  border-color: #ccc;
  box-shadow: inset 0 0 1px #ccc;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"]:checked + label:before {
  color: #5cb85c;
  content: "\f00c";
}
.totebay #popin-container .text-danger {
  color: red;
}
.totebay #popin-container .text-danger sup {
  top: 0;
  font-size: 15px;
}
.totebay #popin-container .form-error {
  border-color: red !important;
}
.totebay #popin-container .popin {
  min-width: 550px;
}
@media (max-width: 991px) {
  .totebay #popin-container .popin {
    min-width: initial;
  }
}
.totebay #popin-container .popin .panel {
  max-width: 550px;
}
.totebay #popin-container .panel-heading .steps {
  margin-right: 7px;
}
.totebay #popin-container .panel-heading .steps > * {
  position: relative;
  color: #000 !important;
}
.totebay #popin-container .panel-heading .steps > *:before {
  content: '';
  position: absolute;
  top: 0;
  border-color: transparent;
  border-style: solid;
  margin: -1px;
}
.totebay #popin-container .panel-heading .steps .page_popin {
  margin-left: 0;
  padding-right: 3px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.totebay #popin-container .panel-heading .steps .page_popin:before {
  right: -6px;
  border-width: 20px 6px 0 0;
  border-top-color: #72c279;
}
.totebay #popin-container .panel-heading .steps .total-steps {
  margin-left: 8px;
  padding-left: 3px;
  background: #c6d6dc;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.totebay #popin-container .panel-heading .steps .total-steps:before {
  left: -6px;
  border-width: 20px 6px 0 0;
  border-right-color: #c6d6dc;
}
.totebay #popin-container .panel-heading i {
  margin: 0;
  padding: 7px 5px;
  cursor: pointer;
}
.totebay #popin-container #category_config .select-holder + .select-holder select {
  margin-top: 4px;
}
.totebay #popin-container #category_config .add_categories_ps {
  padding: 0;
  list-style-type: none;
  max-height: 135px;
  overflow: auto;
}
.totebay #popin-container #category_config .add_categories_ps li {
  padding: 3px 7px;
  border: 1px solid #c7d6d8;
  border-radius: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}
.totebay #popin-container #category_config .add_categories_ps li:hover {
  background: #f5f8f9;
}
.totebay #popin-container #category_config .alert-info:before {
  top: auto;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select {
  width: 100%;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select.open .caret {
  transform: rotate(180deg);
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-toggle {
  padding: 6px 12px;
  background-color: #f5f8f9;
  color: #555;
  border: 1px solid #C7D6DB;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-toggle:focus {
  border-color: #66afe9;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-toggle .caret {
  right: 7px;
  border-top-color: #555 !important;
  border-top: 6px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .form-control {
  width: 100%;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu li {
  padding: 3px 10px;
  cursor: pointer;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu li:hover {
  background-color: #eee;
  color: #555;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu.open {
  max-height: 270px !important;
  overflow: auto !important;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu.open .bs-searchbox {
  position: relative;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu.open .bs-searchbox:before {
  content: '\E8B6';
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -11px;
  font-size: 22px;
  font-family: "Material Icons";
  line-height: 1;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu.open .bs-searchbox input:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(102, 175, 233, 0.6) !important;
}
.totebay #popin-container #category_config .first_page_popin .bootstrap-select .dropdown-menu.open .glyphicon-ok {
  margin: 0;
  font-size: 18px;
  line-height: 0.8;
  font-weight: bold;
}
.totebay #popin-container #category_config .category_ps_list,
.totebay #popin-container #category_config #last_page_categorie_ps {
  display: none;
  max-height: 106px;
  margin: 0 0 15px;
  overflow: auto;
}
.totebay #popin-container #category_config .category_ps_list li,
.totebay #popin-container #category_config #last_page_categorie_ps li {
  position: relative;
  padding-right: 43px;
}
.totebay #popin-container #category_config .category_ps_list li + li,
.totebay #popin-container #category_config #last_page_categorie_ps li + li {
  border-top: 1px solid #c7d6d8;
}
.totebay #popin-container #category_config .category_ps_list li button,
.totebay #popin-container #category_config #last_page_categorie_ps li button {
  position: absolute;
  right: 10px;
  top: 7px;
}
.totebay #popin-container #category_config #last_page_categorie_ps {
  display: block;
}
.totebay #popin-container #category_config .ebay_select {
  width: 50px;
  display: inline-block;
}
.totebay #popin-container #category_config #impact_prix {
  width: 80px;
  margin: 0 -1px;
}
.totebay #popin-container #category_config .total_config_list_ebay .panel-footer {
  font-size: 14px;
  font-weight: bolder;
  color: #55595c;
}
.totebay #popin-container #category_config .total_config_list_ebay .info-block hr {
  margin-left: -20px;
  margin-right: -20px;
}
.totebay #popin-container #category_config .total_config_list_ebay .info-block .badge {
  padding: 1px 10px;
}
.totebay #popin-container #category_config .total_config_list_ebay .info-block .alert-info {
  padding: 15px;
}
.totebay #popin-container #category_config .total_config_list_ebay .info-block .alert-info:before {
  content: none;
}

/*# sourceMappingURL=admin.css.map */
