/**
 * Ebay specific styling
 *
 * Every rule should be incapsulated in the .totebay selector
 * to prevent styling elements outside the module container.
 */
.totebay .d-b {
  display: block;
}
.totebay .d-ib {
  display: inline-block;
}
.totebay .d-i {
  display: inline;
}
.totebay .pos-r {
  position: relative;
}
.totebay .pos-a {
  position: absolute;
}
.totebay .width-num {
  width: 60px !important;
}
.totebay .js-popin-help {
  text-decoration: none !important;
}
.totebay .alert,
.totebay #carrier_wizard .wizard_error {
  padding: 7px;
  margin-bottom: 10px;
  padding-left: 10px !important;
}
.totebay .alert:before {
  content: '' !important;
}
.totebay .tooltip-inner {
  padding: 5px 10px;
}
.totebay .menuTab {
  margin-bottom: 15px;
}
.totebay .sidebar.navigation i,
.totebay .panel-heading i {
  margin-right: 5px;
}
.totebay .nav-pills a span.badge {
  margin-left: 5px;
}
.totebay .alert-no-icon {
  padding-left: 15px !important;
}
.totebay .alert-no-icon:before {
  display: none !important;
}
.totebay .btn [class^='icon-'] + span {
  margin-left: 5px;
}
.totebay .form-horizontal > div:not(.pull-right):not(.panel-footer),
.totebay .form-horizontal > label,
.totebay .form-horizontal > button {
  margin-right: 10px;
}
.totebay .popin > .panel {
  margin-bottom: 0 !important;
}
.totebay .popin.popin-lg > .panel {
  max-width: 800px;
}
.totebay .popin.popin-sm > .panel {
  max-width: 500px;
}
.totebay .item-list {
  max-height: 66px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 22px;
  list-style: none;
  overflow-y: auto;
}
.totebay .item-list .item {
  padding-left: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all, 0.3s, linear;
  -o-transition: all, 0.3s, linear;
  -webkit-transition: all, 0.3s, linear;
  transition: all, 0.3s, linear;
}
.totebay .item-list .item button {
  display: none;
}
.totebay .item-list .item:hover {
  background-color: #f4f8fb;
}
.totebay .item-list .item:hover button {
  display: initial;
}
.totebay .item-list .item .badge {
  line-height: 15px;
  vertical-align: middle;
}
.totebay .panel-heading .badge.badge-success {
  border-color: #72C279 !important;
  color: #fff !important;
  background-color: #72C279 !important;
}
.totebay .js-user-dropdown .dropdown-menu {
  min-width: 400px;
}
.totebay .js-user-dropdown .dropdown-menu li:nth-child(even) {
  background-color: #FCFDFE;
}
.totebay .js-user-dropdown .dropdown-menu li > a {
  padding: 5px 0;
}
.totebay .js-user-dropdown .dropdown-menu li > a span[class^='col-']:first-child {
  padding-left: 20px;
}
.totebay .js-user-dropdown .dropdown-menu li > a.selected span[class^='col-']:first-child {
  position: relative;
}
.totebay .js-user-dropdown .dropdown-menu li > a.selected span[class^='col-']:first-child:before {
  position: absolute;
  left: 4px;
  content: '\f00c';
  font-family: "fontAwesome";
  color: #3c763d;
}
.totebay .js-user-dropdown .dropdown-menu .head {
  padding: 5px 0 10px 0;
  font-weight: 600;
}
.totebay .js-user-dropdown .dropdown-menu .head > span {
  padding: 0 5px;
}
.totebay .js-user-dropdown .dropdown-menu .head > span:first-child {
  padding-left: 20px;
}
.totebay .js-user-dropdown .dropdown-menu .head small {
  font-weight: 400;
}
.totebay .js-user-dropdown .dropdown-menu.dropdown-menu-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-header .totebay .js-user-dropdown.open .dropdown-toggle {
  background-color: #000 !important;
}
.totebay .kb-help {
  display: none;
}
.totebay .kb-help .active {
  display: inline-block;
}
.totebay .kb-help .active [class^="icon-"] {
  font-size: 16px;
}
.totebay .table-block-below {
  /* special styles if there is some block above .table-block */
  margin: 0 0 20px;
}
.totebay .table-block-below + .table-block h4 {
  margin-top: 0;
  border-top: 1px solid #d3d8db;
}
.totebay .button-apply,
.totebay .button-reset,
.totebay .button-refresh {
  min-width: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.totebay .button-apply:hover,
.totebay .button-reset:hover,
.totebay .button-refresh:hover {
  background: #00aff0 !important;
}
.totebay .table-block {
  margin: 0 -20px;
}
.totebay .table-block > * + * {
  border-top: 1px solid #d3d8db;
}
.totebay .table-block__holder {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.totebay .table-block__title {
  display: flex;
  justify-content: space-between;
  margin: -20px 0 0;
  padding: 15px 0;
}
.totebay .table-block__title .button-refresh {
  margin: -8px 0;
}
.totebay .table-block__search {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background: #f0f0f0;
}
@media all and (max-width: 640px) {
  .totebay .table-block__search {
    flex-direction: column;
  }
}
.totebay .table-block__search > * + * {
  margin: 0 0 0 10px;
}
@media all and (max-width: 640px) {
  .totebay .table-block__search > * + * {
    margin: 15px 0 0;
  }
}
.totebay .table-block__search:last-child {
  margin-bottom: -20px;
  border-radius: 0 0 5px 5px;
}
.totebay .table-block__search input {
  background: #fff;
}
.totebay .table-block__search_message {
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.totebay .table-block__footer-buttons {
  display: flex;
  padding-top: 20px;
}
@media all and (max-width: 640px) {
  .totebay .table-block__footer-buttons {
    flex-direction: column;
  }
}
.totebay .table-block__footer-buttons > * + * {
  margin: 0 0 0 10px;
}
@media all and (max-width: 640px) {
  .totebay .table-block__footer-buttons > * + * {
    margin: 15px 0 0;
  }
}
.totebay .table-block .table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.totebay .table-block .table-wrapper .table {
  margin-bottom: 0;
  border-collapse: collapse;
}
.totebay .table-block .table-wrapper .table tr th, .totebay .table-block .table-wrapper .table tr td {
  height: 40px;
  border: 1px solid #eaedef;
}
.totebay .table-block .table-wrapper .table tr th:first-child, .totebay .table-block .table-wrapper .table tr td:first-child {
  padding-left: 20px;
  border-left: 0;
}
.totebay .table-block .table-wrapper .table tr th:last-child, .totebay .table-block .table-wrapper .table tr td:last-child {
  padding-right: 20px;
  border-right: 0;
}
.totebay .table-block .table-wrapper .table tr th:hover td, .totebay .table-block .table-wrapper .table tr td:hover td {
  background: #fff;
}
.totebay .table-block .table-wrapper .table tr th {
  border-bottom: 1px solid #ddd;
}
.totebay .table-block .table-wrapper .table tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
.totebay .table-block .table-wrapper .table tbody tr:nth-child(odd):hover td {
  background: #f4f8fb;
}
.totebay .table-block .table-wrapper .table .action {
  white-space: nowrap;
}
.totebay .table-block .table-wrapper .table .action .active {
  line-height: 1.4;
  background: #fff;
  box-shadow: none;
  border-color: #dedede;
}
.totebay .table-block .table-wrapper .table .action .active:hover {
  color: #fff;
  background-color: #00aff0;
  border-color: #008abd !important;
}
.totebay .table-block .table-wrapper .table .action .active:hover i {
  color: #fff;
}
.totebay .table-block .table-wrapper .table .action .active i {
  color: #555;
}
.totebay .table-block .table-wrapper .table .action .delete_cat:hover,
.totebay .table-block .table-wrapper .table .action .exclure_product:hover,
.totebay .table-block .table-wrapper .table .action .out_of_stock_orphan:hover,
.totebay .table-block .table-wrapper .table .action .delete-orphan:hover {
  background-color: #d5676f;
  border-color: #cd4b55;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] {
  display: none;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] + label {
  width: 35px;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] + label:before {
  font-family: 'fontawesome', sans-serif;
  color: #d9534f;
  content: "\f00d";
  font-size: 13px;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"] + label:hover {
  background: #fff;
  border-color: #ccc;
  box-shadow: inset 0 0 1px #ccc;
}
.totebay .table-block .table-wrapper .table input.categorySync[type="checkbox"]:checked + label:before {
  color: #5cb85c;
  content: "\f00c";
}

/*# sourceMappingURL=admin.css.map */
