@import "compass";
@import "variables";

/**
 * Ebay specific styling
 *
 * Every rule should be incapsulated in the .totebay selector
 * to prevent styling elements outside the module container.
 */

.totebay {
  // Helpers
  .d-b {
    display: block;
  }

  .d-ib {
    display: inline-block;
  }

  .d-i {
    display: inline;
  }

  .pos-r {
    position: relative;
  }

  .pos-a {
    position: absolute;
  }

  .width-num {
    width: 60px !important;
  }

  // Rewrite styles
  .js-popin-help {
    text-decoration: none !important;
  }

  .alert,
  #carrier_wizard .wizard_error {
    padding: 7px;
    margin-bottom: 10px;
    padding-left: 10px !important;
  }

  .alert:before {
    content: '' !important;
  }

  .tooltip-inner {
    padding: 5px 10px;
  }

  // General styling
  .menuTab {
    margin-bottom: 15px;
  }

  // Adds spacing after icons
  .sidebar.navigation i,
  .panel-heading i {
    margin-right: 5px;
  }

  // Adds spacing before badge in menu item
  .nav-pills a span.badge {
    margin-left: 5px;
  }

  // Display bootstrap alerts with no icon
  .alert-no-icon {
    padding-left: 15px !important;
    &:before {
      display: none !important;
    }
  }

  // Add spacing in button with icons
  .btn {
    [class^='icon-'] + span {
      margin-left: 5px;
    }
  }

  // Uniformize spacing in horizontal-form
  .form-horizontal > div:not(.pull-right):not(.panel-footer),
  .form-horizontal > label,
  .form-horizontal > button {
    margin-right: 10px;
  }

  .popin {
    & > .panel {
      margin-bottom: 0 !important;
    }

    &.popin-lg > .panel {
      max-width: 800px;
    }

    &.popin-sm > .panel {
      max-width: 500px;
    }
  }

  // Item list (eg. category selection)
  .item-list {
    max-height: 66px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 22px;
    list-style: none;
    overflow-y: auto;
    .item {
      padding-left: 5px;
      @include border-radius(3px);
      @include transition(all, .3s, linear);
      button {
        display: none;
      }
      &:hover {
        background-color: #f4f8fb;
        button {
          display: initial;
        }
      }
      .badge {
        line-height: 15px;
        vertical-align: middle;
      }
    }
  }

  // Colored badge in panel-heading
  .panel-heading .badge {
    &.badge-success {
      border-color: #72C279 !important;
      color: #fff !important;
      background-color: #72C279 !important;
    }
  }

  // Custom dropdown for user selection menu
  .js-user-dropdown {
    .dropdown-menu {
      min-width: 400px;
      li:nth-child(even) {
        background-color: #FCFDFE;
      }
      li > a {
        padding: 5px 0;
        span[class^='col-']:first-child {
          padding-left: 20px;
        }
        &.selected { // Checked icon before selected option
          span[class^='col-']:first-child {
            position: relative;
            &:before {
              position: absolute;
              left: 4px;
              content: '\f00c';
              font-family: $font-family-icon;
              color: #3c763d;
            }
          }
        }
      }
      .head {
        padding: 5px 0 10px 0;
        font-weight: 600;
        & > span {
          padding: 0 5px;
          &:first-child {
            padding-left: 20px;
          }
        }
        small {
          font-weight: 400;
        }
      }
      &.dropdown-menu-top {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
    .navbar-header &.open .dropdown-toggle {
      background-color: #000 !important;
    }
  }

  // KB
  .kb-help {
    display: none;

    .active {
      display: inline-block;

      [class^="icon-"] {
        font-size: 16px;
      }
    }
  }

  // Table block
  .table-block-below { /* special styles if there is some block above .table-block */
    margin: 0 0 20px;

    + .table-block h4 {
      margin-top: 0;
      border-top: 1px solid #d3d8db;
    }
  }

  .button-apply,
  .button-reset,
  .button-refresh {
    min-width: 80px;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
      background: #00aff0 !important;
    }
  }

  .table-block {
    margin: 0 -20px;

    > * + * {
      border-top: 1px solid #d3d8db;
    }

    &__holder {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      margin: -20px 0 0;
      padding: 15px 0;

      .button-refresh {
        margin: -8px 0;
      }
    }

    &__search {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      background: #f0f0f0;
      @media all and (max-width: 640px) {
        flex-direction: column;
      }

      > * + * {
        margin: 0 0 0 10px;
        @media all and (max-width: 640px) {
          margin: 15px 0 0;
        }
      }

      &:last-child {
        margin-bottom: -20px;
        border-radius: 0 0 5px 5px;
      }

      input {
        background: #fff;
      }

      &_message {
        max-width: 200px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
      }
    }

    &__footer-buttons {
      display: flex;
      padding-top: 20px;

      @media all and (max-width: 640px) {
        flex-direction: column;
      }

      > * + * {
        margin: 0 0 0 10px;
        @media all and (max-width: 640px) {
          margin: 15px 0 0;
        }
      }
    }

    .table-wrapper {
      overflow-x: auto;
      overflow-y: hidden;

      .table {
        margin-bottom: 0;
        border-collapse: collapse;
        tr {
          th, td {
            height: 40px;
            border: 1px solid #eaedef;

            &:first-child {
              padding-left: 20px;
              border-left: 0;
            }
            &:last-child {
              padding-right: 20px;
              border-right: 0;
            }

            &:hover {
              td {
                background: #fff;
              }
            }
          }

          th {
            border-bottom: 1px solid #ddd;
          }
        }

        tbody {
          tr {
            &:nth-child(odd) {
              td {
                background: #f8f8f8;
              }

              &:hover {
                td {
                  background: #f4f8fb;
                }
              }
            }
          }
        }

        .action {
          white-space: nowrap;

          .active {
            line-height: 1.4;
            background: #fff;
            box-shadow: none;
            border-color: #dedede;
            &:hover {
              color: #fff;
              background-color: #00aff0;
              border-color: #008abd !important;

              i {
                color: #fff;
              }
            }

            i {
              color: #555;
            }
          }

          .delete_cat,
          .exclure_product,
          .out_of_stock_orphan,
          .delete-orphan {
            &:hover {
              background-color: #d5676f;
              border-color: #cd4b55;
            }
          }
        }

        // Status inputs
        input {
          &.categorySync[type="checkbox"] {
            display: none;

            + label {
              width: 35px;

              &:before {
                font-family: 'fontawesome', sans-serif;
                color: #d9534f;
                content: "\f00d";
                font-size: 13px;
              }

              &:hover {
                background: #fff;
                border-color: #ccc;
                box-shadow: inset 0 0 1px #ccc;
              }
            }

            &:checked + label:before{
              color: #5cb85c;
              content:"\f00c";
            }
          }
        }
      }
    }
  }
}
