@import "compass";
@import "variables";

/**
 * Ebay specific styling
 *
 * Every rule should be incapsulated in the .totebay selector
 * to prevent styling elements outside the module container.
 */

.totebay {
  // Helpers
.d-b {
    display: block;
  }

  .d-ib {
    display: inline-block;
  }

  .d-i {
    display: inline;
  }

  .pos-r {
    position: relative;
  }

  .pos-a {
    position: absolute;
  }

  // General styling
  .menuTab {
    margin-bottom: 15px;
  }

  // Adds spacing after icons
  .sidebar.navigation i,
  .panel-heading i {
    margin-right: 5px;
  }

  // Display bootstrap alerts with no icon
  .alert-no-icon {
    padding-left: 15px !important;
    &:before {
      display: none !important;
    }
  }

  // Add spacing in button with icons
  .btn {
    [class^='icon-'] + span {
      margin-left: 5px;
    }
  }

  // Uniformize spacing in horizontal-form
  .form-horizontal > div:not(.pull-right):not(.panel-footer),
  .form-horizontal > label,
  .form-horizontal > button {
    margin-right: 10px;
  }

  .popin {
    & > .panel {
      margin-bottom: 0 !important;
    }

    &.popin-lg > .panel {
      max-width: 800px;
    }

    &.popin-sm > .panel {
      max-width: 500px;
    }
  }  

  // Item list (eg. category selection)
  .item-list {
    max-height: 66px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 22px;
    list-style: none;
    overflow-y: auto;
    .item {
      padding-left: 5px;
      @include border-radius(3px);
      @include transition(all, .3s, linear);
      button {
        display: none;
      }
      &:hover {
        background-color: #f4f8fb;
        button {
          display: initial;
        }
      }
      .badge {
        line-height: 15px;
        vertical-align: middle;
      }
    }
  }

  // Colored badge in panel-heading
  .panel-heading .badge {
    &.badge-success {
      border-color: #72C279 !important; 
      color: #fff !important;
      background-color: #72C279 !important;
    }
  }
  
  // Custom dropdown for user selection menu
  .js-user-dropdown {
    .dropdown-menu {
      min-width: 360px;
      li:nth-child(even) {
        background-color: #FCFDFE;
      }
      li > a {
        padding: 5px 0;
        span[class^='col-']:first-child {
          padding-left: 20px;
        }
        &.selected { // Checked icon before selected option
          span[class^='col-']:first-child {
            position: relative;
            &:before {
              position: absolute;
              left: 4px;
              content: '\f00c';
              font-family: $font-family-icon;
              color: #3c763d;
            }
          }
        }
      }
      .head {
        padding: 5px 0 10px 0;
        font-weight: 600;
        & > span {
          padding: 0 5px;
          &:first-child {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
