@import "compass";
@import "variables";

/**
 * Ebay specific styling
 *
 * Every rule should be incapsulated in the .totebay selector
 * to prevent styling elements outside the module container.
 */

.totebay {
  // Helpers
  .d-b {
    display: block;
  }

  .d-ib {
    display: inline-block;
  }

  .d-i {
    display: inline;
  }

  .pos-r {
    position: relative;
  }

  .pos-a {
    position: absolute;
  }

  .width-num {
    width: 60px !important;
  }

  // Rewrite styles
  .js-popin-help {
    text-decoration: none !important;
  }

  .alert,
  #carrier_wizard .wizard_error {
    padding: 7px;
    margin-bottom: 10px;
    padding-left: 10px !important;
  }

  .alert:before {
    content: '' !important;
  }

  // General styling
  .menuTab {
    margin-bottom: 15px;
  }

  // Adds spacing after icons
  .sidebar.navigation i,
  .panel-heading i {
    margin-right: 5px;
  }

  // Adds spacing before badge in menu item
  .nav-pills a span.badge {
    margin-left: 5px;
  }

  // Display bootstrap alerts with no icon
  .alert-no-icon {
    padding-left: 15px !important;
    &:before {
      display: none !important;
    }
  }

  // Add spacing in button with icons
  .btn {
    [class^='icon-'] + span {
      margin-left: 5px;
    }
  }

  // Uniformize spacing in horizontal-form
  .form-horizontal > div:not(.pull-right):not(.panel-footer),
  .form-horizontal > label,
  .form-horizontal > button {
    margin-right: 10px;
  }

  .popin {
    & > .panel {
      margin-bottom: 0 !important;
    }

    &.popin-lg > .panel {
      max-width: 800px;
    }

    &.popin-sm > .panel {
      max-width: 500px;
    }
  }

  // Item list (eg. category selection)
  .item-list {
    max-height: 66px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 22px;
    list-style: none;
    overflow-y: auto;
    .item {
      padding-left: 5px;
      @include border-radius(3px);
      @include transition(all, .3s, linear);
      button {
        display: none;
      }
      &:hover {
        background-color: #f4f8fb;
        button {
          display: initial;
        }
      }
      .badge {
        line-height: 15px;
        vertical-align: middle;
      }
    }
  }

  // Colored badge in panel-heading
  .panel-heading .badge {
    &.badge-success {
      border-color: #72C279 !important;
      color: #fff !important;
      background-color: #72C279 !important;
    }
  }

  // Custom dropdown for user selection menu
  .js-user-dropdown {
    .dropdown-menu {
      min-width: 400px;
      li:nth-child(even) {
        background-color: #FCFDFE;
      }
      li > a {
        padding: 5px 0;
        span[class^='col-']:first-child {
          padding-left: 20px;
        }
        &.selected { // Checked icon before selected option
          span[class^='col-']:first-child {
            position: relative;
            &:before {
              position: absolute;
              left: 4px;
              content: '\f00c';
              font-family: $font-family-icon;
              color: #3c763d;
            }
          }
        }
      }
      .head {
        padding: 5px 0 10px 0;
        font-weight: 600;
        & > span {
          padding: 0 5px;
          &:first-child {
            padding-left: 20px;
          }
        }
        small {
          font-weight: 400;
        }
      }
      &.dropdown-menu-top {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
    .navbar-header &.open .dropdown-toggle {
      background-color: #000 !important;
    }
  }

  // KB
  .kb-help {
    display: none;

    .active {
      display: inline-block;

      [class^="icon-"] {
        font-size: 16px;
      }
    }
  }

  // Table block
  .table-block-below { /* removes margin-top:-20px in .table-block if there is some tag above it */
    margin: 0 0 15px;

    + .table-block h4 {
      margin-top: 0;
    }
  }

  .table-block {
    margin: 0 -20px;

    > * + * {
      border-top: 1px solid #d3d8db;
    }

    .table-block-holder {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .table-block-title {
      margin: -20px 0 0;
      padding: 15px 0;
    }

    .search-ebay-sync {
      padding: 20px 0;
      background: #f0f0f0;

      input {
        background: #fff;
      }
      
      .searcheBtn,
      .researcheBtn {
        &:hover {
          background: #1e94ab;
        }
      }
    }

    .table-wrapper {
      overflow: auto;

      .table {
        border-collapse: collapse;
        tr {
          th, td {
            border: 1px solid #eaedef;

            &:first-child {
              padding-left: 20px;
            }
            &:last-child {
              padding-right: 20px;
            }

            &:hover {
              td {
                background: #fff;
              }
            }
          }

          th {
            border-bottom: 1px solid #ddd;
          }
        }

        tbody {
          tr {
            &:nth-child(odd) {
              td {
                background: #f8f8f8;
              }

              &:hover {
                td {
                  background: #f4f8fb;
                }
              }
            }
          }
        }

        .action {
          white-space: nowrap;

          .delete_cat {
            &:hover {
              background-color: #d9534f;
              border-color: #d9534f;
            }
          }
        }

        // Status inputs
        input {
          &.categorySync[type="checkbox"] {
            display: none;

            + label {
              width: 35px;

              &:before {
                font-family: 'fontawesome', sans-serif;
                color: #d9534f;
                content: "\f00d";
                font-size: 13px;
              }

              &:hover {
                background: #fff;
                border-color: #ccc;
                box-shadow: inset 0 0 1px #ccc;
              }
            }

            &:checked + label:before{
              color: #5cb85c;
              content:"\f00c";
            }
          }
        }
      }
    }
  }
}
